#служебные
*.gitignore
!.gitignore

/.idea/*
*.DS_Store

#расширения
*.log
*.sql
*.txt
*.dt
*.tar.gz
*.gz
*.tar
*.bak
*.old

#битрикс
*.htaccess
*.htaccess*
*web.config
*sitemap*.xml
*urlrewrite.php
*migrations.cfg.php
/bitrix/
/upload/
/local/php_interface/migrations.cfg.php

#если нужные шаблоны в папке битрикс:
#/public_html/bitrix/*
#!/public_html/bitrix/templates/