.breadcrumb__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumb__list li {
    display: inline-block;
}
.breadcrumb__list span {
    color: var(--grey);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
.breadcrumb__list span:not(.breadrumb__last-item, .separator):hover {
    color: var(--deep-red);
    border-bottom: 2px solid var(--deep-red);
    padding-bottom: 5px;
}
.breadcrumb__list span.breadrumb__last-item {
    color: var(--deep-red);
}

@media(max-width: 767px) {
    .breadcrumb__list {
        width: max-content;
        display: flex;
        max-width: 100%;
        overflow-x: auto;
    }
    .breadcrumb__list li {
        white-space: nowrap;
    }
}