.news__wrapper .nav.nav-tabs {
	border-bottom-color: var(--deep-red);
	border-bottom-width: 2px;
	width: fit-content;
	overflow-y: hidden;
}
.news__wrapper .nav-link {
	color: #fff;
    letter-spacing: 0.5px;
	white-space: nowrap;
}
.news__wrapper .nav-link.active {
	background-color: var(--deep-red);
	color: #fff;
	border-color: var(--deep-red);
}
.news__wrapper .nav-link:hover {
	border-color: var(--deep-red);
}
.news-item__block {
	background-color: #fff;
	padding: 10px;
}
.news-item__img {
	height: 300px;
	position: relative;
}
.news-item__img img {
	object-fit: cover;
}
.news-item__img-pechat {
	position: absolute;
	top: -30px;
    right: -30px;
    width: 200px;
    height: 200px;
	opacity: 0;
	transition: opacity 100ms ease-out;
}
.news-item__block:hover .news-item__img-pechat {
	opacity: 1;
	transition: opacity 100ms ease-out;
}
.new-item__info {
	margin-top: 10px;
	height: calc(100% - 310px);
}
.news-item__date {
	font-size: 14px;
	color: var(--grey);
	margin-bottom: 5px;
}
.news-item__name a {
	font-weight: 500;
	color: var(--deep-red);
	font-size: 20px;
}
.news-item__anons {
	font-size: 16px;
	color: var(--deep-black);
	margin-top: 10px;
}
.news-item__btn {
	margin-top: 10px;
	height: 45px;
	background-color: var(--deep-red);
}
.news-item__btn a {
	font-weight: 400;
	color: #fff;
    letter-spacing: 0.5px;
}
.news-list__sidebar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.news-list__sidebar-item {
	text-align: center;
}
.news-list__sidebar-item a {
	position: relative;
}
.news-list__sidebar-item a::before, .news-list__sidebar-item a::after {
    position: absolute;
    content: '';
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--deep-red);
    transform: translateY(-50%);
}
.news-list__sidebar-item a::before {
    left: -20px;
}
.news-list__sidebar-item a::after {
	right: -20px;
}
.news-list__sidebar-item a:hover {
	color: var(--deep-red);
}
.news-list__sidebar-item.active a {
	color: var(--deep-red);
}
.news-list__sidebar-item img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}

@media (max-width: 1199px) {
	.news-list__sidebar {
		justify-content: space-around;
	}
}
@media (max-width: 991px) {
	.news-item__img-pechat {
		right: 0;
	}
	.news-list__sidebar {
		flex-direction: column;
	}
	.news-list__sidebar-item:not(:last-of-type) {
		margin-bottom: 5px;
	}
}