.event-detail__banner {
	height: 580px;
}
.event-detail__banner img {
	object-fit: cover;
}
.event-detail__zapis span {
	font-size: 16px;
}
.event-detail__zapis-end {
	border: 1px solid var(--deep-red);
    padding: 20px 40px;
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 991px) {
	.event-detail__banner {
		height: 350px;
	}
	.event-detail__map iframe {
		height: 350px;
	}
	.event-detail__zapis span {
		font-size: 14px;
	}
	.event-detail__text {
		font-size: 16px;
	}
}