@import url('colors.css');
@import url('fonts.css');
@import url('bootstrap-custom.css');

body {
    font-family: 'RobotoSlab';
    color: #fff;
}
.overhead {
    height: 80px;
    background-color: var(--light-black);
}
.header__block {
    background-color: var(--deep-black);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    height: fit-content;
    z-index: 9999;
}
.ask__btn {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(to right, var(--deep-red), var(--deep-red) 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
        width: fit-content;
    padding: 7px 15px;
    border-radius: 50px;
    border: 2px solid var(--deep-red);
}
.ask__btn:hover {
    background-position: 0 100%;
}
.logo__img {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}
.socseti__block a {
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.socseti__block a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.link-tg {
    margin-right: 15px;
}
.breadcrumb__block {
    background-color: var(--light-black);
    padding: 30px 0;
}
main {
    background-color: var(--light-black);
    position: relative;
    z-index: 9;
    padding-bottom: 400px;
}
.under-footer_bg {
    background-image: url(/local/templates/poetbez/images/underfooter_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.under-footer_bg img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    object-position: top left;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
footer {
    background-color: var(--deep-black);
    padding: 25px 0;
}
.footer__bottom-block {
    margin-top: 15px;
}
.footer__bottom-block a, .footer__bottom-block span, .copyright {
    color: var(--grey);
    font-size: 16px;
}
.footer__bottom-block a {
    text-decoration: none;
}
.footer__bottom-block a:hover {
    color: var(--deep-red);
    position: relative;
}
.footer__bottom-block a:hover::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--deep-red);
}

@media (max-width: 1199px) {
    
}
@media (max-width: 991px) {
    .ask__btn {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .overhead {
        height: 70px;
    }
    .header__block {
        padding: 10px 0;
    }
    .breadcrumb__block {
        padding: 20px 0;
    }
    .ask__btn {
        margin: 0 auto;
    }
}
@media (max-width: 575px) {
    footer {
        padding: 15px 0;
    }
    footer .logo__img {
        max-height: 65px;
        max-width: 65px;
    }
}