.events__block {
	height: 600px;
	position: relative;
}
.events__block img {
	object-fit: cover;
}
.events__name {
	position: absolute;
	bottom: 10px;
	letter-spacing: -0.8px;
	/* font-family: 'Inter'; */
    font-size: 24px;
    font-weight: 300;
    text-align: center;
	width: 100%;
}

@media (max-width: 991px) {
	.events__block {
		height: 350px;
	}
}
@media (max-width: 767px) {
	.events__name {
		font-size: 18px;
	}
}