.author-detail__img {
    background: #fff;
    text-align: center;
    padding: 15px;
}
.author-detail__img img {
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.author-detail__city {
    color: var(--grey);
    font-family: 'Moniqa';
    font-weight: 500;
    font-size: 32px;
    margin-top: -20px;
}
.author-detail__socseti-text {
    color: var(--grey);
    font-family: 'Moniqa';
    font-weight: 500;
    font-size: 32px;
}

@media(max-width: 767px) {
	.author-detail__city {
		margin-top: 10px;
    	text-align: right;
	}
}